﻿@{
    ViewBag.Title = "Уведомление";
}

<h2>На Ваш электронный адрес отправлено сообщение для подтверждения учетной записи.</h2>
<h3>Подтверждая, учетную запись вы подписываетесь на клевый спам раз в 15 минут.</h3>

