﻿@using WeatherTest.Models
@using WeatherTest.Helpers @*Подключаем пользовательские хелперы*@
@{
    ViewBag.Title = "Столицы";
}

<h2>Столицы</h2>
<hr />
<ul>
    @foreach (Cities.List City in Enum.GetValues(typeof(Cities.List)))
    {
        <li>
            @Html.EnumActionLink(City, "Metcast", "Temp", routeValues: new { City = City }, htmlAttributes: new { style = "font-size: 1.5em" })
        </li>
    }
</ul>
    

