﻿@model WeatherTest.Models.MetCastViewModel
@using WeatherTest.Helpers
@{
    ViewBag.Title = "Прогноз";
}

<style>
    li {
        list-style-type: none;
    }
</style>

<h2>@Html.EnumDisplayLabelFor(model => model.City, new { style = "font-weight: normal" })</h2>
<h4>Прогноз на следующий час</h4>
<hr />
<ul style="margin: 0; padding: 0">
    <li>
        @Html.LabelFor(model => model.Temp)
        @Html.DisplayFor(model => model.Temp)
    </li>
    <li>
        @Html.LabelFor(model => model.AppTemp)
        @Html.DisplayFor(model => model.AppTemp)
    </li>
    <li>
        @Html.LabelFor(model => model.Pres)
        @Html.DisplayFor(model => model.Pres)
    </li>
    <li>
        @Html.LabelFor(model => model.WindSpeed)
        @Html.DisplayFor(model => model.WindSpeed)
    </li>
</ul>
<p>
    @Html.ActionLink("Вернуться к столицам", "Capitals")
</p>
